<h2> <%= control_point.name%></h2>
<div>
  <p><strong><%= control_point.user.email%> (lvl <%=control_point.user.xp %></strong> is controling this territory </p>
  <p> You need to walk <%= control_point.difficulty%> to conquer it </p>

</div>
