<div data-controller="infobox" data-action="marker-clicked@window->infobox#revealInfos" >
<%# <img src="https://i.postimg.cc/TYZqLdCs/BUILDINGFRITEBLANCHE.png" class="shine" id="logoem"> %>

    <div class="position-relative">
      <div id="map" class="vh-100" data-controller="mapbox"
          data-mapbox-markers-value="<%= @markers.to_json %>"
          data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
          data-action='click->infobox#hiddenData'>
      </div>
    <div class="infos" data-infobox-target="infos"></div>
</div>
