<div class="profil" data-navbar-target="profil">
  <div class="container-fluidpd">
    <% if current_user != nil %>
      <div class="cardpd" style="width: 100%;">
        <div class="imagepd">
          <%= image_tag "https://i.postimg.cc/wBhzNQLm/MINEAVATAR.png", id:"avatarpd"%>
        </div>
        <h5 class="card-titlepd"><%= current_user.email  %></h5>
        <div class="card-bodypd">
          <p class="card-textpd"><i class="fas fa-trophy"></i> LVL: </p>
          <p class="card-textpd"> <%= current_user.xp %> </p>
          <p class="card-textpd"><i class="fas fa-running"></i>Total walk:</p>
          <p class="card-textpd">3 kilometers</p>
          <ul class="ulpd">
          <button name="button" type="submit" class="btn cross" data-action="navbar#displayProfil">
              <i class="far fa-times-circle"></i>
          </button>

          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>
