.infos {
  height: 0px;
  width: 100%;
  position: relative;
  bottom: 50vh;
  transition: height 1.6s 0s linear;
}

.infos.opened {
  transition: height 1.6s 0s linear;
  height: 50vh;
  background-color: blueviolet;

}
