.infos {
  height: 0px;
  width: 100%;
  position: relative;
  bottom: 50vh;
  transition: height 1.2s 0s linear;
}

.infos.opened {
  font-family: "SF Pro Display", sans-serif;
  transition: height 1.6s 0s linear;
  height: 50vh;
  border-radius: 50px 50px 0px 0px;
  background-color: #284EAEED;
  background-image: url("https://i.postimg.cc/tCbdbqCt/stars.png");
  background-size: contain;
  position: absolute;
  bottom: 0;
  backdrop-filter: blur(4px);
  border: 1px solid #ffffff47;
  #imginfo {
    border: 2px #ffffff61 solid;
    border-radius: 50%;
    display: block;
    height: 90px;
    margin: 8px auto;
    top: 20%;
    width: 90px;
  }
  .cardinfo {
    background-color: #a6d6f22e;
    border-radius: 25px;
    height: 29vh;
    display: block;
    border: 1px solid #ffffff47;
    backdrop-filter: blur(2px);
    margin: 0 auto;
    text-align: center;
    width: 75%;
  }
  .card-titleinfo {
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .card-textinfo {
    padding: 20px 24px 12px 20px;
    color: white;
  }
  .btn-info2 {
    font-weight: bold;
    background-color: #446fda;
    display: block;
    margin: 0 auto;
    border-color: #446fda;
    width: 54%;
    border-radius: 7px;
    max-width: fit-content;
    color: #f4f4f4;
    border: 1px solid #ffffff54;
    opacity: 0.9;
  }
  .btn-info2:hover {
    background-color: #3f6ad7;
    color: white;
    border: 1px solid #ffffff7f;
    transition: .5s ease;
    opacity: 1;
  }
}
