.infos {
  height: 0px;
  width: 100%;
  position: relative;
  bottom: 50vh;
  transition: height 1.2s 0s linear;
}

.infos.opened {
  font-family: "SF Pro Display", sans-serif;
  transition: height 1.6s 0s linear;
  height: 50vh;
  border-radius: 50px;
  background-color: #284EAE;
  background-image: url("https://i.postimg.cc/tCbdbqCt/stars.png");
  background-size: contain;
  position: absolute;
  bottom: 15%;
  #imginfo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    top: 20%;
    left: 42%;
    border: 3px #0B75E8 solid;
    position: relative;
  }
  .cardinfo {
    background-color: white;
    border-radius: 25px;
    position: sticky;
    left: 12%;
    height: 29vh;
    bottom: 18%;
  }
  .card-titleinfo {
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .card-textinfo {
    padding: 10px;
  }
  .btn-info2 {
    position: sticky;
    left: 30%;
    font-weight: bold;
    background-color: #446fda;
    border-color: #446fda;
    border-radius: 7px;
  }
  .btn-info2:hover {
    background-color: red;
    color: white;
    border: 2px rgb(19, 18, 18) solid;
    transition: 1.5s;
  }
}
