.mapboxgl-popup {
  max-width: 100%;
  height: 50vh;
  display: flex;
  position: absolute;
  bottom: 0;
}

.mapboxgl-user-location-accuracy-circle {
  display: none;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  max-width: 100%;
  height: 50vh;
  display: flex;
  position: absolute;
  bottom: 0;
}

.mapboxgl-map {
  border: 1px solid #4b4b4b;
  box-shadow: 1px 0px 8px rgba(0,0,0,0.8);
}

.map {
  height: 100vh;
}
