.marker {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  background: radial-gradient(73.03% 73.03% at 50% 50%, rgba(247, 26, 26, 0.932) 0%, rgba(255, 61, 0, 0) 0.01%, #fab809 100%);
  border: 2px solid #ffd000;
  box-sizing: border-box;
}

.marker.owned {
  background: radial-gradient(73.03% 73.03% at 50% 50%, rgba(4, 0, 255, 0.6) 0%, rgba(255, 61, 0, 0) 0.01%, rgba(0, 153, 255, 0.6) 100%);
  border: 2px solid #0004ff;
}

.marker.unowned {
  background: radial-gradient(73.03% 73.03% at 50% 50%, rgba(255, 38, 0, 0.6) 0%, rgba(255, 61, 0, 0) 0.01%, rgba(255, 0, 0, 0.938) 100%);
  border: 2px solid #ff1100;
}
