.navbar-lewagon {
  justify-content: space-between;
  background: rgba(255, 255, 255, 0);
  display: flex;
  flex-wrap: nowrap;
  padding: 2px 10px;

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar-light .navbar-nav .nav-link {
  color: rgba(255,255,255,0.55);
}



// .dropup, .dropend, .dropdown, .dropstart {
//     display: block!important;
//     margin-right: 0!important;
//     margin-left: auto!important;
// }


@media (min-width: 206px) {
.navbar-expand-sm .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
  background: linear-gradient(157.44deg, rgba(255, 255, 255, 0.6) 0.84%, rgba(245,240,89,0.6) 0.85%, rgba(210,0,223,0.33) 100%);
  border-style: none;
  backdrop-filter: blur(4px);
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1rem;
  clear: both;
  font-weight: 400;
  color: #ffffff;
  text-align: inherit;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  /* border-bottom: 1px solid #ffffff4f; */
}

/* line 156, node_modules/bootstrap/scss/_dropdown.scss */
.dropdown-item:hover, .dropdown-item:focus {
  color: rgb(78, 111, 244);
  transition: .5s cubic-bezier(0.1, 1.1, 1, 1);
  background-color: transparent;
}
