#figmar {
  background: linear-gradient(157.44deg, rgba(255, 255, 255, 0.6) 0.84%, rgba(255, 255, 255, 0.6) 0.85%, rgba(255, 255, 255, 0.15) 100%);
  border: 2px solid rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(18px);
  border-radius: 61px 61px 0px 0px;
  height: 100vh;
}
